/*font-family: 'Iceland', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Space Mono', monospace;*/
:root {
  --color-primary: #131313;
  --color-secondary: #f5eee6;
  --color-accent: rgb(47, 46, 65);
  --font-inter: "Inter", sans-serif;
  --font-space-mono: "Space Mono", monospace;
}
body {
  background-color: var(--color-primary);
  overflow-x: hidden;
}
h1,
h2,
h2,
h4,
h5,
h6,
p {
  color: var(--color-secondary);
}
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-space-mono);
}

/*Navbar*/
.navbar-costum {
  background-color: var(--color-primary);
  padding: 10px !important;
}
.navbar.costum,
.navbar-text {
  color: var(--color-secondary);
  font-family: "Space Mono", monospace;
  padding: 15px !important;
  font-size: 20px;
}
.navbar.costum,
.navbar-text:hover {
  color: var(--color-secondary) !important;
  text-decoration: underline;
}
.navbar-toggler-icon {
  display: none;
}
#hamburger-menu {
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--color-secondary);
}

/*fixed line*/
.hr-top {
  color: var(--color-secondary);
  position: fixed;
  left: 0;
  width: 738.02px;
  height: 0px;
  top: 21px;
  border: 3px solid;
  opacity: 1;
}

/*Hero*/
.hero {
  background: linear-gradient(
    109.6deg,
    var(--color-primary) 11.2%,
    var(--color-accent) 51.2%,
    var(--color-primary) 98.6%
  );
  text-align: center;
  display: block;
  padding: 350px 0;
}
.hero,
h1 {
  font-family: "Iceland", cursive;
  font-size: 96px;
}
.hero,
h2 {
  font-size: 28px;
  font-weight: bold;
}
@media (max-width: 650px) {
  .hero h1 {
    font-size: 70px;
  }
  .hero,
  h2 {
    font-size: 18px;
  }
}
